*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: sans-serif;
    position: relative;
}


.container {
    max-width: 100%;
    height: 100vh;
    display: flex;
}
/* Menu burger    hidden in max-width : 940px ---------*/

.bgColor {
    background-color: rgba(0, 0, 0, 0.411);
    transition: 0.7s;
}
.btn-burgerMenu {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding-top: 20px;
    cursor: pointer;
    z-index: 5;
    position: fixed;
}
.close::before {
    content: '\274C  Close';
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 5);
}
.open::before {
    content: '\2630  Open';
    color: #fff;
    text-shadow: 0 0 2px black;
}
.menuBurger {
    width: 300px;
    height: 100vh;
    background: rgba( 255, 255, 255, 0.6 );
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}
.hidden {
    visibility: hidden;
}


.section-burger {
    width: 50%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-burger a {
    margin-top: 20px;
    text-decoration: none;
}

/* Profitize -------------------------------*/
.container .profitize {
    position: relative;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.904);
}
.profitize .sectionCustomer  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px ;
    text-align: left;
}
.sectionCustomer .logo {
    width: 100%;
    height: 70px;
}

.profitize a {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: flex-start;
}
.profitize a span {
    margin-right: 15px;
}
.logOut {
    margin-top: 350px;
    display: flex;
    align-items: center;
}
.logOut span {
    margin-right: 15px;
}

/* Overview ----------------------------------- */
.container .owerview {
    width: 35%;
    height: 100%;
    padding: 30px 50px;
    color: rgba(0, 0, 0, 0.685);
    background-color: rgba(204, 204, 204, 0.411);
}
.owerview h2 {
    margin-top: 50px;
}
.owerview table  {
    width: 100%;
    height: 300px;
}
.owerview table tr {
    display: flex;
    justify-content: space-between;
}
.owerview .border_bottem {
    padding-bottom: 5px;
    border-bottom: solid 1px;
}
.owerview table tr  td {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.owerview_section_2 {
    margin-bottom: 50px;
}
/* Section Prancip --------------------------------- */
.container .sectionPrancip {
    width: 60%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.685);
}
.sectionPrancip input {
    background-color: rgba(128, 128, 128, 0.356);
    border:  none;
    outline: none;
    padding-left: 20px;
    border-radius: 2px;
}
.sectionPrancip input[type='date']{
    height: 20px;
}
.sectionPrancip .section_search-profile {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_search-profile div {
    width: 50%;
}
.section_search-profile .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section_search-profile  input {
    width: 200px;
    height: 30px;
}
.section_search-profile .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 15px;
}
.section_search-profile .img img {
    width: 100%;
    border-radius: 50%;
}


.Date_Title-yers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart2 {
    width: 100%;
    height: 400px;
    margin-top: 40px;
}
/* customer */
.customer {
    width: 100%;
    margin-top: 20px;
}
.customer .Recent-hour {
    display: flex;
    justify-content: space-between;
}

.table_customer table {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    text-align: left;
   
}

.table_customer table th {
    color: rgb(187, 180, 180);
}
.table_customer table td{
    border-bottom: solid 1px gainsboro;
}



/*  Responsive  */

@media screen and (max-width : 1083px) {
    .container {
        flex-direction: column;
    }
    .container .profitize {
        height: 70px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo {
        margin-left: 50px;
        
    }
    .profitize .sectionCustomer {
        margin-top: -40px;
        flex-direction: row;
        justify-content: space-around;
    }
    .profitize a {
        margin: 0 20px;
    }
    .container .owerview {
        width: 100%;
        order: 1;
    }
    .container .sectionPrancip {
        width: 100%;
    }
    .sectionPrancip #chartContainer2 {
        width: 100%;
    }
    .container-option {
        display: flex;
        flex-direction: row;
    }
    .sectionCustomer {
        padding-top: 80px;
    }
   
}
@media screen and (max-width: 1024px) {
    .overview {
        padding-top: 70px;
    }
}
@media screen and (max-width: 942px) {
    .container {
        padding-top: 20px;
    }
    .container .profitize , .sectionCustomer{
        display: none;
        background-color: #fff;
    }
    
}
@media screen and (min-width: 943px) {
    .btn-burgerMenu {
        display: none;
        
    }
  
}
@media screen and (max-width:458px) {
    .Date_Title-yers h1 , .customer h1 {
        font-size: 20px;
    }
    .sectionPrancip .search input {
        width: 150px;
    }
    .profile .material-symbols-outlined {
        display: none;
    }
    .customer table {
        font-size: 10px;
    }
}
@media screen and (max-width:540px) {
    .container {
        padding-top: 60px;
    }
    .owerview {
        margin-top: 160px;
    }
}
@media screen and (max-width:428px) {
    .container {
        padding-top: 60px;
    }
}
@media screen and (max-width:375px) {
    .owerview {
        margin-top: 170px;
    }
}
@media screen and (max-width:361px) {
    .owerview {
        margin-top: 200px;
    }
}

@media screen and (max-width:280px) {
    .owerview {
        margin-top: 220px;
    }
    .profile img {
        display: none;
    }

}


/* Prevent the selection of elements in Body  */

 .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
} 